@import "tailwindcss";
@plugin "daisyui" {
  themes:
    corporate --default,
    night --prefersdark;
}
@plugin "tailwindcss-react-aria-components";
@import "tw-animate-css";
@utility navbar {
  @apply px-6 py-4;

  @media (width < 64rem) {
    @apply min-h-10 p-0;
  }
  .navbar-start,
  .navbar-center,
  .navbar-end {
    a {
      @apply btn text-2xl;

      @media (width < 64rem) {
        @apply btn-md text-xl;
      }
    }
    a:not(.dropdown-content a) {
      @apply btn-ghost;

      @media (width < 64rem) {
        @apply btn-xs text-xl;
      }
    }
  }
  @media (width < 64rem) {
    .navbar-center {
      @apply hidden;
    }
  }
}

@layer components {
  .bg-base-200 .btn {
    @apply btn-secondary;
  }
  .infobox {
    @apply rounded-lg border-2 border-dashed p-4;
    border-color: color-mix(in srgb, black 20%, transparent);
  }

  .bg-primary {
    @apply text-primary-content;
  }

  .react-aria-ModalOverlay {
    @apply fixed top-0 left-0 z-50 flex h-[var(--visual-viewport-height)] w-[100vw] flex-row items-center justify-center bg-black/50 p-2;
    @apply entering:animate-in fade-in duration-200;
    @apply exiting:animate-out fade-out;
  }

  .react-aria-Modal {
    @apply bg-base-200 max-w-3xl grow rounded-xl p-8;
    @apply entering:animate-in zoom-in-80 duration-300 ease-[cubic-bezier(0.175,0.885,0.32,1.275)] exiting:duration-150;

    .btn {
      @apply btn-secondary;
    }
  }
}

@layer base {
  p {
    @apply m-2;
  }
}
